@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	@apply bg-white dark:bg-black;
	@apply text-black dark:text-white;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}
